/* {font-size:13pt;font-weight:normal;} */

table {
  border-collapse: collapse;
}
td {
  border: 6px double darkorange;
  padding: 10px;
}
ol {
  margin-left: 1em;
}
body {
  margin: 1em;
  font-family: "courier new", monospace;
  color: #d46700;
  background: #000400;
  word-wrap: break-word;
}
a {
  color: #d46700;
  font-weight: bold;
  padding-right: 0.25em;
}
hr {
  border-color: darkorange;
}
.advisory {
  background: darkorange;
  color: #223;
  font-weight: bold;
  padding-right: 0.25em;
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #000400;
  background: darkorange;
}

.advisory {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 8s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.sourceCode {
 color:#06287e;
}

 /* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: darkorange;
  z-index: 99;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding-top: 5px;
}

input[type="text"],
textarea {
  background-color: #191919;
  border: 0px;
  color: #d46700;
}

div.alert-warning {
  background-color: darkred;
}
div.alert-success {
  background-color: darkgreen;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile */
@media (max-width: 768px) {
  td {
    display: block;
  }
}
